<html>
    <head>
        <title>Django Satoshi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Satoshi's blog</a></h1>
        </div>

        <div>
            <p>published: 18.04.2020, 17:48</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam.</p>
        </div>

        <div>
            <p>公開日: 2020/04/18, 17;48</P>
            <h2><a href="">2番目の投稿</a></h2>
            <p>こんにちは! よろしくお願いします!</p>
        </div>
    </body>
</html>